<app-toolbar-nav></app-toolbar-nav>
<div class="container">
  <div class="row top">
    <div class="col s6 center-align">
      <button mat-button color="primary" (click)="toUsers()">
        <ion-icon size="large" class="dash-icons" name="people"></ion-icon>
        <p class="dash-title">Users Panel</p>
      </button>
    </div>
    <div class="col s6 center-align">
      <button mat-button color="primary" (click)="toCars()">
        <ion-icon size="large" class="dash-icons" name="car-sport"></ion-icon>
        <p class="dash-title">Cars Panel</p>
      </button>
    </div>
  </div>
</div>
