<mat-toolbar color="warn">
  <!-- FirtsRow -->
  <mat-toolbar-row class="top-toolbar">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <img
        class="logo-jaque"
        fontset=""
        fonticon=""
        src="https://jaque.me/assets/images/q_jaque.svg"
        alt=""
      />
    </button>
    <span>Jaque Corp</span>
    <span class="example-spacer"></span>
    <!-- SocialBtns -->
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with code icon"
    >
      <ion-icon size="large" name="logo-github"></ion-icon>
      <!-- <mat-icon fontSet="ion-icon" fontIcon="logo-github"></mat-icon> -->
    </button>
  </mat-toolbar-row>
  <!-- SecondRow -->
  <mat-toolbar-row class="main-toolbar">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-button color="basic" (click)="toUsers()">
      <ion-icon size="small" name="people"></ion-icon>
      Users
    </button>
    <button mat-button color="basic" (click)="toCars()">
      <ion-icon size="small" name="car-sport"></ion-icon>
      Cars
    </button>
    <button mat-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>My Profile</button>
      <button mat-menu-item (click)="toLogin()">Login</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
    <!--  -->
  </mat-toolbar-row>
</mat-toolbar>
