.p404Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.p404Items {
  width: 50%;
  height: auto;
  text-align: center;
  font-size: 5rem;
}
